<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>G. Henrique &#128126;</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="#">Guilherme Henrique dos Santos Souza</a>
        <div>
            <a href="#projetos">Projetos</a>
            <a href="#sobre-mim">Sobre mim</a>
            <a href="#depoimentos">Depoimentos</a>
            <a href="#contato">Contato</a>
        </div>
    </nav>

    <section class="jumbotron">
        <img src="static/foto_perfil_site.jpeg" alt="Responsive image">
        <h1>Guilherme Henrique dos Santos Souza</h1>
        <p> &#128187; Software Developer &#128187;</p>
        <a href="https://github.com/"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    </section>

    <section class="projects" id="projetos">
        <h2>Projetos</h2>
        <div class="project-card">
            <img src="static/Warthog.jpeg" alt="Projeto Warthog">
            <p>Esse é Warthog, um projeto prático que eu desenvolvi usando algumas tecnologias</p>
            <ul>
                <li>C++</li>
                <li>Arduino</li>
            </ul>
            <a href="/app/static/1semestre.pdf" download="DowloadPdf.pdf">Ver Código</a>
        </div>
        <div class="project-card">
            <img src="static/automatic_house.jpeg" alt="Casa Automática">
            <p>Essa é a Casa Automática, um projeto que eu desenvolvi usando algumas tecnologias</p>
            <ul>
                <li>C++</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Arduino</li>
                <li>Python</li>
            </ul>
            <a href="/app/static/2semestre.pdf" download="DowloadPdf.pdf">Ver Código</a>
        </div>
    </section>

    <section class="about" id="sobre-mim">
        <h2>Sobre mim</h2>
        <p> Olá! Me chamo Guilherme e estou dando os primeiros passos na minha jornada como desenvolvedor de software. Sempre fui fascinado pela tecnologia, decidi transformar essa paixão em uma carreira. Embora eu ainda esteja no início, estou me dedicando ao máximo para sempre estar aprendendo e evoluindo.</p>
        <p>Tenho conhecimentos básicos em Python, Java, C, C++ e HTML/CSS, estou constantemente explorando novos desafios para aprimorar minhas habilidades. Meu objetivo é criar soluções que façam a diferença, seja automatizando tarefas simples ou desenvolvendo aplicativos mais complexos.</p>
    </section>

    <section class="testimonials" id="depoimentos">
        <h2>Depoimentos</h2>
        <div class="testimonial">
            <p>O projeto foi um sucesso graças à habilidade e dedicação do desenvolvedor. Estamos muito satisfeitos com o resultado.</p>
            <footer>CEO, Developer</footer>
        </div>
        <div class="testimonial">
            <p>O código está limpo, bem documentado e fácil de manter. Um verdadeiro exemplo de boas práticas de desenvolvimento, desenvolvedor muito atencioso e profissional.</p>
            <footer>Analista de Sistemas</footer>
        </div>
    </section>

    <section class="contact" id="contato">
        <h3>Contato</h3>
        <h4><a href="mailto:guilherme.stos16@gmail.com">guilherme.stos16@gmail.com 👈</a></h4>
        <textarea placeholder="Comentários aqui"></textarea>
    </section>

    <footer>
        <p>Developer Guilherme Henrique</p>
    </footer>
</body>

</html>
